@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .inhrit {
    display: inline-block;
    width: inherit;
    max-width: inherit;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
